*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.main {
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ================================================================================================== */
[class*=container] {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}
body._lock {
  overflow-y: hidden;
}

.contact {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}
.contact._block {
  z-index: 1000;
}
.contact__bg {
  display: none;
  z-index: -1000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #231f20;
}
.contact__bg._block {
  z-index: 999;
  display: block;
}
.contact__form {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -200%);
  opacity: 0;
  background-color: #fff;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  z-index: -998;
  transition: all 0.3s linear;
}
.contact__form._block {
  z-index: 1001;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.contact__cross {
  position: relative;
  cursor: pointer;
}
.contact__cross::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  transform: rotate(45deg);
}
.contact__cross::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  transform: rotate(-45deg);
}
.contact__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #231f20;
  margin-bottom: 10px;
}
.contact__input {
  border: 2px solid #231f20;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  width: 400px;
  margin-bottom: 5px;
}
.contact__textarea {
  resize: none;
  border: 2px solid #231f20;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  height: 150px;
  outline: none;
}
.contact__button {
  color: #fff;
  background-color: #231f20;
  border: 2px solid #231f20;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.contact__button:hover {
  background-color: #fff;
  color: #231f20;
}
.contact__open {
  display: none;
  z-index: -999;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #231f20;
  padding: 5px 20px 5px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.contact__open p {
  border: 1px solid transparent;
  position: relative;
}
.contact__open p::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -50px;
  width: 50px;
  height: 55px;
  background-image: linear-gradient(to left top, #231f20 0%, #231f20 50%, transparent 50%);
}
.contact__open._none {
  display: none;
  z-index: -999;
}

@media (max-width: 1100px) {
  .contact__open {
    display: block;
    z-index: 998;
  }
}
@media (max-width: 500px) {
  .contact__form {
    max-width: 480px;
  }
  .contact__input {
    width: auto;
  }
}
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: #231f20;
  padding: 30px 0 20px 0;
  z-index: 20;
}
.header__container {
  position: relative;
}
.header__search {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__search-icon {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header__search-input {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -200px);
  opacity: 0;
  width: 250px;
  border: none;
  background: transparent;
  color: #231f20;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  transition: all 0.2s linear;
  z-index: 9;
}
.header__search-input._show {
  opacity: 1;
  transform: translate(-50%, 10px);
}
.header__search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #231f20;
  opacity: 1; /* Firefox */
  text-transform: uppercase;
}
.header__search-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #231f20;
  text-transform: uppercase;
}
.header__search-input ::-ms-input-placeholder { /* Microsoft Edge */
  color: #231f20;
  text-transform: uppercase;
}
.header__phone {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header__lower {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
}
@media (max-width: 1170px) {
  .header__lower {
    gap: calc(-100px + 300 * ((100vw - 320px) / 850));
  }
}
.header__logo {
  height: 70px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  z-index: 9;
}
.nav__item {
  text-decoration: none;
  color: #231f20;
  position: relative;
  cursor: pointer;
}
.nav__item-special {
  text-decoration: none;
  color: #231f20;
}
.nav__item-special p {
  position: relative;
  cursor: pointer;
}
.nav__item-special p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #231f20;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s linear;
}
.nav__item-special p::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #231f20;
  opacity: 1;
  transition: transform 0.1s linear;
}
.nav__item-special p._rotate::after {
  transform: translateY(-50%) rotate(90deg);
}
.nav__item-special p._rotate::before {
  transform: scale(1);
  transform-origin: bottom left;
}
.nav__item-special p:hover::before {
  transform: scale(1);
  transform-origin: bottom left;
}
.nav__item p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #231f20;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s linear;
}
.nav__item p:hover::before {
  transform: scale(1);
  transform-origin: bottom left;
}
.nav__vehicles {
  display: none;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 2px solid #231f20;
  padding: 30px 20px;
  border-radius: 5px;
  min-width: 800px;
  min-height: 500px;
  transition: opacity 0.2s linear;
  z-index: -10;
}
.nav__vehicles-types {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__vehicles-type {
  padding-right: 30px;
  position: relative;
  text-decoration: none;
  color: #231f20;
}
.nav__vehicles-type_all {
  margin-top: 20px;
  font-weight: 700;
  text-decoration: underline;
  display: block;
}
.nav__vehicles-type_all-mobile {
  display: none;
  margin-bottom: 20px;
  font-weight: 700;
  text-decoration: underline;
}
.nav__vehicles-type_all-mobile::after {
  display: none;
}
.nav__vehicles-type_all::after {
  display: none;
}
.nav__vehicles-type::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #231f20;
  opacity: 0;
  transition: all 0.1s linear;
}
.nav__vehicles-type:hover::after {
  opacity: 1;
}
.nav__vehicles-cars {
  display: none;
  grid-gap: 10px 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(0px, 40px));
}
.nav__vehicles-car {
  min-width: 33.33%;
  position: relative;
  font-size: 14px;
  text-decoration: none;
  color: #231f20;
  max-height: 50px;
  font-weight: 400;
  transition: all 0.2s linear;
}
.nav__vehicles-car:hover {
  color: #827377;
}
.nav__production {
  display: none;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 2px solid #231f20;
  padding: 30px 40px;
  border-radius: 5px;
  min-width: 800px;
  transition: opacity 0.2s linear;
  z-index: -10;
}
.nav__production-types {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(0px, 50px));
  text-transform: uppercase;
  font-weight: 500;
}
.nav__production-types .nav__item-special {
  display: none;
}
.nav__production-type {
  padding-right: 30px;
  position: relative;
  text-decoration: none;
  color: #231f20;
  transition: all 0.2s linear;
}
.nav__production-type:hover {
  color: #74676a;
}
.nav__special {
  display: none;
  grid-template-columns: 2fr 3fr;
  grid-gap: 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 20px;
  width: 500px;
}
.nav__special-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.nav__special-left-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav__special-left_vehicles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.nav__special-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav__special-type {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #231f20;
}
.nav__special-type::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #231f20;
  transition: all 0.2s linear;
}
.nav__special-type:hover::after {
  border-left: 7px solid #bf1b2c;
  transform: translateY(-50%) rotate(90deg);
}
.nav__special-type._nav__special-type::after {
  border-left: 7px solid #bf1b2c;
  transform: translateY(-50%) rotate(90deg);
}
.nav__special-type_all {
  margin-top: 30px;
  color: #fff;
  background-color: #bf1b2c;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s linear;
}
.nav__special-type_all:hover {
  background-color: #a91827;
  border-radius: 0 50px 50px 0;
}
.nav__special-type_all::after {
  display: none;
}
.nav__special-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
.nav__special-desc {
  text-transform: initial;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  white-space: pre-wrap;
}
.nav__special-button {
  text-decoration: none;
  color: #fff;
  background-color: #bf1b2c;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s linear;
}
.nav__special-button:hover {
  background-color: #a91827;
  border-radius: 0 50px 50px 0;
}
.nav__special-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav__special-right_vehicles {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  height: 400px;
  overflow-y: scroll;
}
.nav__special-right_vehicles._submenu {
  display: flex;
}
.nav__special-right_vehicles-mobile {
  display: none;
}
.nav__special-item {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #231f20;
  margin-left: 20px;
}
.nav__special-item img {
  padding: 10px 0;
  max-height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.nav__special-item:hover .nav__special-text::before {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-135deg);
  top: 50%;
  left: -25px;
}
.nav__special-item:hover .nav__special-text::after {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  left: -20px;
}
.nav__special-item_vehicles {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #231f20;
  transition: all 0.2s linear;
}
.nav__special-item_vehicles:hover {
  color: #bf1b2c;
}
.nav__special-text {
  position: relative;
}
.nav__special-text:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -20px;
  transform: rotate(45deg);
  width: 10px;
  height: 3px;
  background-color: #231f20;
  transition: all 0.2s linear;
}
.nav__special-text:after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: -20px;
  transform: rotate(-45deg);
  width: 10px;
  height: 3px;
  background-color: #231f20;
  transition: all 0.2s linear;
}

.nav__special._block {
  display: grid;
}

._block {
  display: flex;
}

._submenu {
  display: grid;
}

._none {
  display: none;
}

.nav__vehicles._block {
  display: flex;
  opacity: 1;
  z-index: 8;
}

.nav__production._block {
  display: flex;
  opacity: 1;
  z-index: 8;
}

._header-underlined::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.2s linear;
}

.material-symbols-outlined {
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: #231f20;
}

.burger {
  display: none;
  position: absolute;
  right: 0;
}
.burger span {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #231f20;
}
.burger::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #231f20;
  transition: all 0.2s linear;
}
.burger::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  display: block;
  width: 12px;
  height: 2px;
  background-color: #231f20;
  transition: all 0.2s linear;
}
.burger._active span {
  opacity: 0;
}
.burger._active::before {
  transform: rotate(45deg);
  top: 0;
  width: 25px;
}
.burger._active::after {
  transform: rotate(-45deg);
  top: 0;
  width: 25px;
}

@media (max-width: 1100px) {
  .header__logo {
    margin-left: -30px;
  }
  .nav {
    opacity: 0;
    transform: translate(-50%, -500%);
    transition: all 0.2s linear;
    position: absolute;
    flex-direction: column;
    left: 50%;
    top: 100px;
  }
  .nav._active {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  .nav__item p::before {
    display: none;
  }
  .nav__item-special p::before {
    display: none;
  }
  .nav__item-special p::after {
    right: 10px;
  }
  .nav__special {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: auto;
  }
  .nav__special._block {
    display: flex;
  }
  .nav__special-right_vehicles {
    display: none;
    height: auto;
    padding-bottom: 30px;
  }
  .nav__special-right_vehicles._submenu {
    display: none;
  }
  .nav__special-right_vehicles-mobile {
    display: none;
    flex-direction: column;
    height: auto;
    padding: 0 10px;
  }
  .nav__special-right_vehicles-mobile._submenu {
    display: flex;
  }
  .nav__special-type_all {
    margin-bottom: 30px;
  }
  .nav__special-left {
    display: none;
  }
  .nav__special-left_vehicles {
    gap: 0;
  }
  .nav__special-item img {
    display: none;
  }
  .header {
    transition: height 0.2s linear;
  }
  .header._active {
    height: 100%;
  }
  .header__search {
    margin-right: 40px;
  }
  .header._overflow {
    overflow-y: auto;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 10px 0;
  }
  .header__container {
    padding: 0 10px;
  }
}
.main {
  padding-top: 100px;
  position: relative;
  color: #231f20;
}

.slider {
  z-index: 9;
  position: relative;
}
.slider-slide {
  max-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
}
.slider-slide img {
  min-height: 300px;
  object-fit: cover;
  filter: brightness(50%);
}
.slider-slide-text {
  position: absolute;
  right: 100px;
  max-width: 600px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  display: block;
  max-height: 100%;
  padding: 20px;
}
@media (max-width: 1170px) {
  .slider-slide-text {
    right: calc(0px + 100 * ((100vw - 320px) / 850));
  }
}
.slider-slide-title {
  font-size: 72px;
  line-height: 0.9;
  font-weight: 700;
  transform: translateX(100%);
  opacity: 0;
}
@media (max-width: 1170px) {
  .slider-slide-title {
    font-size: calc(20px + 52 * ((100vw - 320px) / 850));
  }
}
.slider-slide-desc {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: translateX(100%);
  opacity: 0;
}
@media (max-width: 1170px) {
  .slider-slide-desc {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-desc {
    margin-top: calc(0px + 10 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-desc {
    margin-bottom: calc(5px + 10 * ((100vw - 320px) / 850));
  }
}
.slider-slide-link {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  transform: translateX(500px);
  opacity: 0;
  position: relative;
  margin-left: 30px;
}
@media (max-width: 1170px) {
  .slider-slide-link {
    font-size: calc(18px + 10 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link {
    margin-left: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}
.slider-slide-link:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -30px;
  transform: rotate(45deg);
  width: 15px;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s linear;
}
@media (max-width: 1170px) {
  .slider-slide-link:before {
    top: calc(7px + 4 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:before {
    left: calc(-15px + -15 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:before {
    width: calc(10px + 5 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:before {
    height: calc(2px + 1 * ((100vw - 320px) / 850));
  }
}
.slider-slide-link:after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: -30px;
  transform: rotate(-45deg);
  width: 15px;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s linear;
}
@media (max-width: 1170px) {
  .slider-slide-link:after {
    bottom: calc(7px + 4 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:after {
    left: calc(-15px + -15 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:after {
    width: calc(10px + 5 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .slider-slide-link:after {
    height: calc(2px + 1 * ((100vw - 320px) / 850));
  }
}
.slider-slide-link:hover::before {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-135deg);
  top: 50%;
  left: -30px;
}
@media (max-width: 1170px) {
  .slider-slide-link:hover::before {
    left: calc(-18px + -12 * ((100vw - 320px) / 850));
  }
}
.slider-slide-link:hover::after {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  left: -21px;
}
@media (max-width: 1170px) {
  .slider-slide-link:hover::after {
    left: calc(-11px + -10 * ((100vw - 320px) / 850));
  }
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  left: 50%;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #a4a4a4;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-slide-active.slider-slide img {
  animation: sliderimg 2s ease-in-out 0.5s forwards;
}
.swiper-slide-active.slider-slide .slider-slide-title {
  animation: slidertext 1s ease 2s forwards;
}
.swiper-slide-active.slider-slide .slider-slide-desc {
  animation: slidertext 1.5s ease 2s forwards;
}
.swiper-slide-active.slider-slide .slider-slide-link {
  animation: slidertext 2s ease 3s forwards;
}

@keyframes sliderimg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes slidertext {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .slider-slide-text {
    right: 0;
    border-radius: 0;
  }
}
@media (max-width: 500px) {
  .main {
    padding-top: 70px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
.about {
  position: relative;
  padding: 50px 0;
}
.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
}
.about__container {
  position: relative;
}
.about__less {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
}
@media (max-width: 1170px) {
  .about__less {
    gap: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}
.about__less iframe {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}
.about__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 1170px) {
  .about__title {
    font-size: calc(28px + 20 * ((100vw - 320px) / 850));
  }
}
.about__content {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .about__content {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .about__content {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .about__content {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}
.about__btn {
  position: relative;
  font-size: 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 20px;
  color: #696969;
  cursor: pointer;
}
@media (max-width: 1170px) {
  .about__btn {
    font-size: calc(18px + 2 * ((100vw - 320px) / 850));
  }
}
.about__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #696969;
  transition: all 0.2s linear;
}
.about__btn._active::before {
  transform: translateY(-50%) rotate(90deg);
}
.about__more {
  position: absolute;
  font-size: 16px;
  margin-top: 40px;
  opacity: 0;
  line-height: 0;
  transform: translateY(-100px);
  transition: all 0.3s linear;
}
@media (max-width: 1170px) {
  .about__more {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .about__more {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}
.about__more._active {
  position: static;
  opacity: 1;
  line-height: 1.5;
  transform: translateY(0);
}

@media (max-width: 1100px) {
  .about__less {
    display: flex;
    flex-direction: column;
  }
  .about__less iframe {
    min-height: 350px;
  }
}
@media (max-width: 650px) {
  .about__less iframe {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .about {
    padding: 30px 0;
  }
  .about__container {
    padding: 0 10px;
  }
}
.featured {
  padding: 30px 0;
  position: relative;
}
.featured__top {
  position: relative;
}
.featured__title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  .featured__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .featured__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}
.featured__title span {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1170px) {
  .featured__title span {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}
.featured__buttons {
  position: absolute;
  top: 50%;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.featured__button {
  position: relative;
  background-color: #231f20;
  width: 44px;
  height: 44px;
  border-radius: 5px;
}
.featured__button-prev {
  transform: rotate(180deg);
}
.featured__button::before {
  content: "";
  position: absolute;
  top: 14px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transform: rotate(45deg);
}
.featured__button::after {
  content: "";
  position: absolute;
  bottom: 14px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.featured__slide {
  text-decoration: none;
}
.featured__slide img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.featured__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #231f20;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  max-width: 400px;
}

@media (max-width: 1100px) {
  .featured__title {
    display: flex;
    flex-direction: column;
  }
  .featured__buttons {
    right: -10px;
  }
}
@media (max-width: 600px) {
  .featured__title {
    max-width: 1000px;
  }
}
@media (max-width: 600px) and (max-width: 1170px) {
  .featured__title {
    max-width: calc(170px + 830 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 500px) {
  .featured__container {
    padding: 0 10px;
  }
  .featured__slide img {
    width: 250px;
    height: 250px;
  }
  .featured__text {
    max-width: 250px;
  }
}
.why {
  padding: 30px 0;
}
.why__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.why__title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  .why__title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .why__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}
.why__title span {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1170px) {
  .why__title span {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}

.choose {
  padding-right: 30px;
}
.choose__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.choose__title {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #dcdcdc;
  color: #231f20;
  width: 100%;
  border: none;
  text-align-last: left;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s linear;
  cursor: pointer;
}
@media (max-width: 1170px) {
  .choose__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}
.choose__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #231f20;
}
.choose__title._chosen {
  color: #fff;
  background-color: #231f20;
}
.choose__title._chosen::before {
  border-left: 7px solid #fff;
  transform: translateY(-50%) rotate(90deg);
}
.choose__title:hover {
  color: #fff;
  background-color: #231f20;
}
.choose__title:hover::before {
  border-left: 7px solid #fff;
}
.choose__title:focus {
  color: #fff;
  background-color: #231f20;
}
.choose__title:focus::before {
  border-left: 7px solid #fff;
}
.choose__text {
  display: none;
  padding: 0 10px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 1170px) {
  .choose__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .choose__text {
    padding-top: calc(5px + 10 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .choose__text {
    padding-bottom: calc(5px + 10 * ((100vw - 320px) / 850));
  }
}
.choose__text._chosen {
  display: block;
}

.news {
  max-width: 700px;
}
.news__top {
  position: relative;
}
.news__buttons {
  position: absolute;
  top: 50%;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.news__button {
  position: relative;
  background-color: #231f20;
  width: 44px;
  height: 44px;
  border-radius: 5px;
}
.news__button-prev {
  transform: rotate(180deg);
}
.news__button::before {
  content: "";
  position: absolute;
  top: 14px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transform: rotate(45deg);
}
.news__button::after {
  content: "";
  position: absolute;
  bottom: 14px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.news__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcdcdc;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  transition: all 0.2s linear;
}
.news__slide a {
  max-width: 400px;
  overflow: hidden;
  border-radius: 15px;
}
.news__slide a img {
  transition: all 1s linear;
}
.news__slide:hover {
  background-color: #eeeeee;
}
.news__slide:hover a img {
  transform: scale(1.05);
}
.news__slide:hover .news__link::before {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-135deg);
  top: 50%;
  left: -25px;
}
.news__slide:hover .news__link::after {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  left: -17px;
}
.news__text {
  max-width: 400px;
  color: #231f20;
  margin-top: 10px;
}
.news__date {
  font-size: 16px;
  font-weight: 500;
  color: #74676a;
  margin-bottom: 5px;
}
.news__title {
  text-decoration: none;
  color: #231f20;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.news__title:hover {
  color: #4c4345;
}
.news__desc {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  margin-top: 15px;
  margin-bottom: 30px;
}
.news__link {
  position: relative;
  text-decoration: none;
  color: #231f20;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.news__link:hover {
  color: #4c4345;
}
.news__link:before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: -25px;
  transform: rotate(45deg);
  width: 12px;
  height: 2px;
  background-color: #231f20;
  transition: all 0.2s linear;
}
.news__link:after {
  content: "";
  position: absolute;
  bottom: 7.5px;
  left: -25px;
  transform: rotate(-45deg);
  width: 12px;
  height: 2px;
  background-color: #231f20;
  transition: all 0.2s linear;
}
.news__link:hover::before {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-135deg);
  top: 50%;
  left: -25px;
}
.news__link:hover::after {
  background-color: #bf1b2c;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  left: -17px;
}

@media (max-width: 1100px) {
  .why__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .why__title {
    display: flex;
    flex-direction: column;
  }
  .why__title-news {
    max-width: 1000px;
  }
}
@media (max-width: 1100px) and (max-width: 1170px) {
  .why__title-news {
    max-width: calc(120px + 880 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1100px) {
  .choose {
    padding-right: 0;
  }
  .news {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .why {
    padding: 20px 0;
  }
  .why__container {
    padding: 0 10px;
  }
  .news__container {
    padding: 0 10px;
  }
}
.footer {
  background-color: #fff;
  color: #231f20;
  padding: 30px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 1170px) {
  .footer__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  }
}
.footer__map-content {
  position: relative;
}
.footer__map-img {
  width: 400px;
}
.footer__map-location {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.footer__map-icon {
  color: #bf1b2c;
  transition: all 0.3s linear;
}
.footer__map-icon._hovered {
  transform: scale(1.2);
}
.footer__map-country {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s linear;
  z-index: -10;
}
.footer__map-country._showed {
  opacity: 1;
  transform: translateY(0);
  z-index: 3;
}
.footer__contact-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contact-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #231f20;
}
.footer__bottom {
  background-color: #e6e6e6;
  color: #231f20;
  padding: 10px 0;
}
.footer__brands-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__brands-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #231f20;
  transition: all 0.2s linear;
}
.footer__brands-item:hover {
  color: #675b5e;
}

#locusa {
  top: 30%;
  left: 15%;
}

#locukraine {
  top: 24%;
  left: 48.5%;
  z-index: 5;
}

#locuae {
  top: 38%;
  left: 58%;
}

#locgermany {
  top: 22.5%;
  left: 41%;
  z-index: 1;
}

@media (max-width: 1100px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer__form-content {
    display: flex;
    flex-direction: column;
  }
  .footer__form-button {
    height: 40px;
  }
}
@media (max-width: 500px) {
  .footer__container {
    padding: 0 10px;
  }
  .footer__form {
    width: 100%;
    text-align: center;
  }
  .footer__map-img {
    width: 300px;
  }
  #locusa {
    top: 24%;
    left: 15%;
  }
  #locukraine {
    top: 17%;
    left: 46%;
    z-index: 5;
  }
  #locuae {
    top: 30.5%;
    left: 56%;
  }
  #locgermany {
    top: 15%;
    left: 38%;
    z-index: 1;
  }
}